{% extends "base.html" %}
{% load bootstrap3 %}
{% block navbar %}
{% endblock navbar %}
{% block header %}
<div class="jumbotron">
    <div class="container text-center landing">
        {% if alert %}
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-{{ alert.0 }}" role="alert">{{ alert.1 }}</div>
        </div>
        {% endif %}
        <div class="col-md-12">
            <h1>NYC Park Alerts</h1>
            <p>Receive closure and maintenance notifications about NYC Parks &amp; Recreation locations.
            </p>
            <a type="button" class="btn btn-lg btn-primary" href="/subscriber">Sign up</a>
            <a type="button" class="btn btn-lg btn-default" href="/statuses">Current alerts</a>
        </div>
    </div>
</div>
<div class="container landing">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" style="text-align: center">
            <h2>
            Why?
            </h2>
            <p>
            <a href="https://www.nycgovparks.org/">NYC Parks</a> publishes updates <a href="https://www.nycgovparks.org/news/notices">online</a>, but without a way to subscribe to them.
            <br/>
            After a few unexpected closures at my rec center, I made this site to avoid being caught off guard.
            </p>
        </div>
        <div class="col-md-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" style="text-align: center">
            <h2>
            How?
            </h2>
            <p>
            You provide your email and a list of locations.
            <br/>
            We'll periodically scrape for updates and let you know if your locations are affected.
            </p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock header %}
