{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h2>Privacy Policy</h2>

<p>
<i>published March 14, 2019</i>
</p>

<p>
This page explains what data we collect from you and what we use it for.
Changes to the contents of this policy will be published here and sent to subscribers' emails.
Past versions of this page are available on request.
</p>

<p>
<b>Here is what data we will collect from you:</b>
<li>your email and location preferences will be stored for as long as you are subscribed to alerts</li>
</p>

<p>
<b>Here is what we will never do with your data:</b>
<li>we will never email you advertisements for other products</li>
<li>we will never permit third parties to email you</li>
</p>

<p>
<b>Here is what we may do with your data:</b>
<li>we may allow <a href="https://www.google.com/analytics">Google Analytics</a> to indefinitely store anonymous information about your interaction with the site as governed by their <a href="https://support.google.com/analytics/answer/6004245?hl=en">privacy policy</a> to better understand aggregate user behavior</li>
<li>we may allow <a href="https://logentries.com/">Logentries</a> to temporarily store any information logged by the site for up to seven days to assist in debugging as governed by their <a href="https://logentries.com/privacy/">privacy policy</a></li>
</p>

{% endblock content %}
