{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    {% if statuses %}
    As of {{ statuses.0.last_seen | date:'fA' }} Eastern time according to <a href="https://www.nycgovparks.org/news/notices">public city data</a>:
    {% endif %}
    {% for status in statuses %}
        <h4>{{status.facility_name}}</h4>
        {% comment %}
        this doesn't seem that useful until you've built up a lot of data,
        since long-term statuses will be wrong
        First seen at {{ status.first_seen | date:'Y-m-d H:i' }}.
        {% endcomment %}
        {% autoescape off %}{{ status.html_content }}{% endautoescape %}
    {% endfor %}
{% endblock content %}
